  body {
    text-align: center;
    background: URL(background.jpg) no-repeat center fixed;
    color: white;
  }

  h3{
    text-decoration: underline;
  }

  a {
  color: white;
  }

  .Test img {
    width: 200px;
    border: 3px solid black;
    top: 20px;
    left: 20px;
    position: absolute;
  }

  .Test {
    display: block;
    padding-bottom: 100px;
  }

  .Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    text-align: center;
}

  .tableau {
  clear: both;
}

  ul {
      list-style-type: none;
      padding-right: 50px
  }

  ol {
      list-style-type: none;
  }

  table, th, td {
    border: 1px solid white;
    margin: auto;
    padding: 5px;
    border-collapse: collapse;
}
